<div class="upload-container">
    <h1 class="upload-title">Upload a File</h1>
    <form action="/upload" method="POST" enctype="multipart/form-data" class="upload-form">
      <label for="file" class="upload-image-label">
        <img src="/assets/upload.png" alt="Upload" class="upload-image">
        <span class="upload-label-text">Click to choose a file</span>
      </label>
      <input type="file" name="file" id="file" required class="upload-input-hidden">
      <button type="submit" class="upload-button">Upload</button>
    </form>
  </div>