<!-- dashboard.ejs -->

<link rel="stylesheet" href="index.css">
<%- include('partials/header') %>

<div class="dashboard-container">
    <h2 class="welcome-text">Welcome, <%= user.username %>!</h2>
    <div class="dashboard-actions">
         <%- include('partials/upload') -%>
        <a href="/logout" class="logout-link">Logout</a>
    </div>

    <div class="uploaded-files">
        <h3>Your Uploaded Files</h3>

    </div>
</div>

